
<nav class="col-1">
  <a href="/"><i class="fas fa-home" style="margin-bottom: 20px;"></i>  <p>HOME</p></a>
  <a href="/profile"><i class="far fa-user" style="margin-bottom: 20px;"></i> <p> Profile</p></a>
  <a href="/logout"><i class="fas fa-sign-out-alt"></i><p>  Logout</p></a>
</nav>